body {
  margin: 0;
  line-height: normal;
}

.main-box {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: auto;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #3c3030;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  box-sizing: border-box;
}

/* Whole thing */
.top-part {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 89px;
}

/* Header */
.title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 40px;
}
.main-title {
  position: relative;
  line-height: 140%;
}
.circle-pic {
  width: 35px;
  height: 35px;
}

/* Lines */
.lines-box {
  position: absolute;
  top: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  width: 160%;
}
.single-line {
  width: 160%;
  position: relative;
  border-top: 1px solid #3c3030;
  box-sizing: border-box;
  height: 1px;
}

/* Search Bar */
.search-area {
  width: 100%;
  max-width: 327px;
  position: relative;
  height: 61px;
}
.search-box {
  position: absolute;
  top: 0.5px;
  left: -0.5px;
  border: 1px solid #3c3030;
  box-sizing: border-box;
  width: 100%;
  max-width: 268px;
  height: 61px;
  opacity: 0.3;
}

.search-text {
  position: absolute;
  top: 17px;
  left: 44px;
  padding-top: 4px;
  opacity: 0.8;
}
.submit-box {
  position: absolute;
  top: 0px;
  left: 266px;
  border-radius: 1px;
  background-color: #e84848;
  border: 1px solid #e84848;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px 13px 16px 22px;
  color: #fdfdfa;
}

/* Top News */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #d02424;
  font-family: "Times New Roman", Times, serif;
  width: 85%;
}
.section-title {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 15px;
}

/* Contents in grid */
.grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
  color: #3c3030;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}
.news-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.news-image {
  width: 100%;
  position: relative;
  height: auto;
  object-fit: cover;
}
.news-headline {
  width: 100%;
  position: relative;
  font-size: 18px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.news-summary {
  width: 100%;
  position: relative;
  line-height: 140%;
  font-family: Inter;
  display: inline-block;
  opacity: 0.8;
}
.read-more-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
}
.read-more-link {
  position: relative;
  text-decoration: underline;
  font-weight: 700;
  font-family: Inter;
  color: #d02424;
}

/* Footer */
.bottom-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 88px;
  font-size: 18px;
  margin-bottom: 50px;
}
.footer-line {
  width: 320%;
  border-top: 1px solid black;
  box-sizing: border-box;
  height: 1px;
}
.footer-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.small-circle {
  width: 10px;
  height: 10px;
}
.footer-text {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  font-family: "Times New Roman", Times, serif;
  top: 1.3px;
  text-align: center;
}
